html {
  height: 100%
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #91d7ff;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#yeardate {
  height: 100%;
}

#origination {
  height: 100%;
}

#source {
  height: 100%;
}

#campanas {
  height: 100%;
}

#arboles {
  height: 100%;
}

#libros {
  height: 100%;
}